/*
  Name: Austin Jenchi
  Date: April 2, 2019
  Section: CSE 154 AQ 19sp

  Some basic CSS styles for my "ugly website" page.
*/
body {
    background: olivedrab;
    color: white;
    font-family: Arial, sans-serif;
    width: 1220px;
}

header, aside, main {
    border: white 2px dotted;
}

header img {
    border-right: white 3px dotted;
    vertical-align: middle;
    width: 200px;
}

header h1 {
    display: inline;
}

aside {
    float: left;
    height: 928.34px;
    width: 200px;
}

nav a {
    background: url('img/ohno/button-1.png') no-repeat;
    text-align: center;
    width: 200px;
    height: 50px;
    display: block;
    padding-top: 15px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-image: url('img/ohno/button-2.png');
}

figure {
    text-align: center;
}

main {
    margin-left: 200px;
    padding: 8px;
    width: 1000px;
}

section#counter {
    text-align: center;
}

aside section#counter span {
    background: black;
    height: 25px;
    color: red;
    display: inline-block;
    padding: 2px;
    padding-top: 8px;
    width: 60px;
    text-shadow: 0 0 10px red;
}
