/*
  *** TODO: fill in your header ***
  INSERT YOUR NAME HERE
  INSERT THE CURRENT DATE HERE

  WRITE A 1-3 SENTENCE SHORT FILE DESCRIPTION HERE
*/

/* Remember: This body ruleset is to get you started, but does not count towards the CP requirements! */
body {
  background-color: beige;
  font-family: Helvetica, sans-serif;
  margin-left: auto; 
  margin-right: auto;
  width: 80%;
}
